* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  zoom: 100%;
}

#header {
  max-height: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}
@media screen and (min-width: 1650px) {
  #header {
    margin-left: 30%;
  }
}
@media screen and (max-width: 1650px) {
  #header {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1525px) {
  #header {
    margin-left: 15%;
  }
}
@media screen and (max-width: 1403px) {
  #header {
    margin-left: 10%;
  }
}
@media screen and (max-width: 1350px) {
  #header {
    margin-left: 5%;
  }
}
.home {
  overflow: visible;
}
body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  height: 100vh;
  position: relative;
  background-color: #131516 !important;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1255px) {
  .menu-button {
    margin-left: 40%;
  }
  .searchbar {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1255px) {
  .launch-time {
    margin-right: 1%;
  }
}
.title {
  margin-top: 0.5%;
}
h1 {
  color: white;
  font-size: 40px;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: relative;
  right: 26%;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  list-style: none;
  position: relative;
  left: 50%;
}

.title {
  flex: 1;
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.nav-menu .nav-item a::before {
  content: " ";
  width: 0px;
  height: 5px;
  background: aqua;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}

.nav-menu .nav-item:hover a::before {
  width: 50%;
  transform: translateX(100%);
}

.nav-menu a.active {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bolder;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.launch-time {
  display: flex;
  gap: 100px;
  margin-top: 10%;
}

.fest-live {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 11%;
  font-size: 130px;
  margin-bottom: 2%;
  text-transform: uppercase;
  margin-left: 2%;
}

.space {
  text-align: center;
}

.space span {
  font-weight: lighter;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.space p {
  font-weight: 1000;
  font-size: 130px;
  /* margin-left: 40%; */
}

.searchbar {
  /* background: white; */

  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 30px;
  width: 800px;
  height: 60px;
  margin-left: 17%;
  display: flex;
  border: 2px solid white;
  /* margin: 20%; */
}

.searchbar h2 {
  color: white;
  font-size: 25px;
  margin-top: 1.5%;
  margin-left: 3%;
}

.social-icon {
  display: flex;
  margin-left: 33%;
  margin-top: 1%;
  /* background-color: aqua; */
  list-style: none;
  border-radius: 20px;
}

.social-icon a {
  text-decoration: none;
}

.social-icon li a {
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: flex;
  transition: 0.5s;
}

.explore {
  font-size: 30px;
  /* color: white; */
}

.explore-button {
  position: relative;
  /* background: #07031e; */
  background: hsla(0, 0%, 100%, 0.1);
  width: 300px;
  color: white;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  margin-left: 40%;
  border-radius: 10px;
  margin-top: 50px;
  border: 2px solid black;
}

.explore-button:hover {
  letter-spacing: 0.1em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 30px var(--clr);
  /* border-radius: 30px;  */
}

.explore-button::before {
  content: " ";
  position: absolute;
  inset: 2px;
  /* background: #07031e; */
  /* background:lightblue; */
  /* border-radius: 30px; */
}

.explore-button span {
  position: relative;
  z-index: 1;
  font-size: 25px;
}

.explore-button i {
  position: absolute;
  inset: 0;
  display: block;
}

.explore-button i::before,
.explore-button i::after {
  content: "";
  position: absolute;
  /* top: -3.5px; */
  width: 10px;
  height: 10px;
  background: transparent;
  /* border-radius: 50%; */
  transition: 0.5s;
  border: 2px solid whitesmoke;
}

.explore-button i::before {
  top: -7.5px;
  left: 80%;
  transform: translate(-50%);
}

.explore-button:hover i::before {
  width: 25px;
  left: 20%;
}
.explore-button:hover span {
  color: white;
}
.explore-button i::after {
  bottom: -7.5px;
  left: 20%;
  transform: translate(-50%);
}

.explore-button:hover i::after {
  width: 25px;
  left: 80%;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Adjust styles for small screens here */
  /* body {
      background-color: lightgray;
  } */
  .menu-button {
    display: block;
    font-size: 25px;
    margin-left: 50%;
    /* margin-right: 10px; */
  }
  .nav-menu {
    display: none;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #07031e;
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }

  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    height: 125%;
    object-fit: cover;
  }
  h1 {
    font-size: 32px;
  }

  .space {
    text-align: center;
    margin-top: 20%;
  }
  .space span {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 5px;
    /* Add a small margin between span and p */
    margin-left: 70%;
  }

  .space p {
    font-size: 100px;
    margin-left: 0; /*Remove the left margin*/
  }
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    font-size: 25px;
    margin-left: 50%;
    /* margin-right: 10px; */
  }
  .nav-menu {
    display: none;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #07031e;
    /* background-color: rgba(7, 3, 30, 0.9); */
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }

  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 125%;
    object-fit: cover;
  }
  h1 {
    font-size: 32px;
  }

  .space {
    text-align: center;
    margin-top: 20%;
  }
  .space span {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 5px;
    /* Add a small margin between span and p */
    margin-left: 70%;
  }

  .space p {
    font-size: 90px;
    margin-left: 0; /*Remove the left margin*/
  }
  #hours,
  #minutes,
  #seconds {
    white-space: nowrap;
  }
  .launch-time {
    margin-left: 15%;
  }
  .searchbar {
    margin-right: 20%;
  }
}

@media (max-width: 1000px) {
  .menu-button {
    display: block;
    font-size: 30px;
    /* margin-left: 120%; */
  }

  .nav-menu {
    display: none;
    position: fixed;
    /* position: absolute; */
    left: -100%;
    top: 100px;
    /* top: 0; */
    gap: 0;
    /* height: 100px; */
    flex-direction: column;
    background-color: #07031e;
    /* background-color: rgba(7, 3, 30, 0.9); */
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 5px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }
  #video-background {
    width: 113%;
    height: 114%;
  }

  h1 {
    font-size: 32px;
  }

  .space {
    text-align: center;
    margin-top: 5%;
  }
  .searchbar {
    margin-left: 5%;
    width: 790px;
  }
  .explore-button {
    margin-left: 40%;
  }

  .space span {
    font-size: 20px;
    margin-left: 5%;
  }

  .space p {
    font-size: 83px;
  }
  #hours,
  #minutes,
  #seconds {
    white-space: nowrap;
  }
}

@media (max-width: 590px) {
  .menu-button {
    display: block;
    font-size: 30px;
    margin-left: 95%;
  }

  .nav-menu {
    display: none;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #07031e;
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
    z-index: 2;
  }
  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 155%;
    height: 155%;
    object-fit: cover;
  }

  h1 {
    font-size: 32px;
    white-space: nowrap;
    width: 100%; /* Optional: Ensure the text stays within its container */
  }

  .launch-time {
    gap: 10px;
    margin-right: 26%;
  }
  .space {
    text-align: center;
    margin-top: 50%;
    margin-left: 14%;
  }
  .space span {
    font-size: 25px;
    margin-left: 70%;
  }

  .space p {
    font-size: 80px;
    margin-left: 0;
  }

  .searchbar {
    width: 700px;
    /* height: 70px; */
    margin-left: 1000%; /*iska dekhna h*/
  }
  h2 {
    font-size: 20px;
  }
  #hours,
  #minutes,
  #seconds {
    white-space: nowrap;
  }
}
@media (max-width: 460px) {
  .menu-button {
    display: block;
    font-size: 30px;
  }

  .nav-menu {
    display: none;
    position: fixed;
    /* position: absolute; */
    left: -100%;
    top: 100px;
    /* top: 0; */
    gap: 0;
    /* height: 100px; */
    flex-direction: column;
    background-color: #07031e;
    /* background-color: rgba(7, 3, 30, 0.9); */
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }
  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 165%;
    height: 166%;
    object-fit: cover;
  }
  h1 {
    font-size: 32px;
  }

  .space {
    text-align: center;
    margin-top: 20%;
  }
  .space span {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 70%;
  }

  .space p {
    font-size: 60px;
  }
  #hours,
  #minutes,
  #seconds {
    white-space: nowrap;
  }
  .launch-time {
    margin-top: 60%;
  }
  .explore-button {
    margin-right: 40%;
  }
}

@media (max-width: 390px) {
  .menu-button {
    display: block;
    font-size: 30px;
  }

  .nav-menu {
    display: none;
    position: fixed;
    /* position: absolute; */
    left: -100%;
    top: 100px;
    /* top: 0; */
    gap: 0;
    /* height: 100px; */
    flex-direction: column;
    background-color: #07031e;
    /* background-color: rgba(7, 3, 30, 0.9); */
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }

  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 220%;
    height: 100%;
    object-fit: cover;
  }
}

/* Add more responsive styles as needed */

@media (max-width: 1300px) {
  .menu-button {
    display: block;
    font-size: 30px;
  }

  .nav-menu {
    display: none;
    position: fixed;
    /* position: absolute; */
    left: -100%;
    top: 100px;
    /* top: 0; */
    gap: 0;
    /* height: 100px; */
    flex-direction: column;
    background-color: #07031e;
    /* background-color: rgba(7, 3, 30, 0.9); */
    width: 100%;
    height: 50%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    /* position: fixed; */
    left: 0;
    z-index: 2;
  }

  .countdown {
    margin-top: 10%;
    /* margin: 20px; *;
    /* border-radius: 10px; */
  }

  .searchbar {
    margin-left: 10%;
  }

  .explore-button {
    margin-left: 30%;
  }
}

@media (max-width: 1850px) {
  /* .searchbar{
  margin-left: 28%;
} */

  .explore-button {
    margin-left: 30%;
  }
}

@media (max-width: 1500px) {
  /* .searchbar
{
  margin-left: 23%;
} */

  .explore-button {
    margin-left: 30%;
  }
}

@media (max-width: 1150px) {
  /* .searchbar
{
  margin-left: 15%;
} */
  .explore-button {
    margin-left: 36%;
  }
  .video-background {
    height: 100%;
    width: 100%;
  }

  .space span {
    font-size: 20px;
    margin-left: 5%;
  }

  .space p {
    font-size: 90px;
  }
}
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

.all-of-slider {
  position: relative;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.button a:hover {
  text-decoration: none;
  color: #fff;
}

.button {
  text-decoration: none;
  position: relative;
  /* background: #07031e; */
  background: #000;

  border-radius: 100%;
  font-size: 64px;
  margin-left: 116%;
  margin-bottom: -40%;
  /* color: white;
  text-decoration: none;
   font-size: 10em; 
   letter-spacing: 0.1em; 
  padding: 10px 30px;
  transition: 0.5s;
    
  margin-top: 50px; */
}

@media screen and (max-width: 500px) {
  a#scroll-btn {
    font-size: 12px;
  }
}
.past-speakers-heading {
  position: relative; /* Set the position to fixed */
  /* Stick it to the top of the viewport */
  left: 0; /* Stick it to the left of the viewport */
  width: 100%; /* Make it full width */
  /*background: rgba(0, 0, 0, 0.787);*/ /* Background color for visibility */
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding: 10px 0; /* Add some padding for spacing */
  z-index: 1000; /* Ensure it's on top of other content */
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #131516;
  overflow: hidden;
}

@media screen and (max-width: 898px) {
  .past-speakers-heading {
    margin-bottom: 50px;
  }
  .wrapper {
    margin-top: 0px;
  }
}
a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
}
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131516;
  opacity: 0.9;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  /* background: #fff; */
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s;
  left: -30px;
}
.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1600px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 150px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.news-slider__item {
  width: 400px;
  flex-shrink: 0;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: transparent;
}
.news-slider__item.swiper-slide-active,
.news-slider__item.swiper-slide-prev,
.news-slider__item.swiper-slide-next {
  opacity: 1;
  position: sticky;
  overflow: auto;
}
.news-slider__item.swiper-slide-prev,
.news-slider__item.swiper-slide-next {
  color: black;
}
.news-slider__item.swiper-slide-active {
  background-color: #fff;
  color: #131516;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #fff;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  padding: 40px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: 0.1s;
  }
  .news__item:hover .news-date,
  .news__item:hover .news__title,
  .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: 0.1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
  color: #222222;
}
.news__item.active .news-date,
.news__item.active .news__title,
.news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  font-weight: 500;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
  color: #131516;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s;
  color: #131516;
}
.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 400px;
  margin-top: 30px;
  width: 100% "";
  transition: all 0.3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.wrapper {
  margin-top: 7%;
}

.wrapper2 {
  margin: 5% 100%;
}
.slider-control {
  margin-bottom: 5%;
}
.all-of-events {
  width: 60%;
  height: 100vh;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .section {
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 479px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (max-width: 479px) {
  .featured-logo-item {
    padding: 0px;
  }
}
@media screen and (max-width: 479px) {
  .logos-heading-wrapper {
    margin-bottom: 18px;
    padding-bottom: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom: 1px solid #1e2029;
  }
}
.section {
  left: 0%;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* Adjust the margin-top value as needed */
}
@media screen and (max-width: 479px) {
  .solid-line {
    margin-left: 0px;
  }
}

.solid-line {
  height: 1px;
  margin-left: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1e2029;
}

@media screen and (max-width: 479px) {
  .featured-logos-wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 991px) {
  .featured-logos-wrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}
.featured-logos-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.scene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: #fff;
  color: #fff;
  opacity: 1 !important;
}

svg {
  height: 64px;
  transform: scaleX(-1);
}

.frame {
  visibility: hidden;
}

#wolf {
  fill: white;
}
.logo1 {
  width: 90px;
}
.logo2 {
  width: 110px;
}
.logo3 {
  width: 200px;
}
.logo4 {
  width: 250px;
}
.logo5 {
  width: 90px;
  border-radius: 100%;
}
.logo6 {
  width: 80px;
  margin-left: -20%;
}
@media screen and (max-width: 479px) {
  #w-node-_4a08a5ed-ae77-c5f3-b1e2-f6a30efb3e0a-f5583ba2 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

#w-node-_4a08a5ed-ae77-c5f3-b1e2-f6a30efb3e0a-f5583ba2 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.body-display.large h2 {
  line-height: 2em;
}

.body-display h2 {
  color: #8a94a6;
  line-height: 2em;
}
