*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  padding-right: 20px; /* Add padding to make space for the scrollbar */
}

h1,
h2,
div {
  display: inline-block;
}

header {
  background-color: #07031e;
}

li
{
    list-style: none;
}

a
{
    color:white;
    text-decoration: none;
    font-size: 25px;
}

.logo{
    height: 5rem;
    display: flex;
    align-items: left;
  }
  
.logo-image {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    margin: 1em;
    width: 5em;
    height: 5em;
  }
  
.logo-image img {
    height: 5em;
    width: 5em;
  }

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
  align-items: center;
  gap: 60px;
  margin-left: 4%;
}

.nav-menu .nav-item {
  position: relative; 
  
}

.nav-menu .nav-item a::before {
  content: " ";
  width: 0;
  height: 5px;
  background: aqua;
  position: absolute;
  bottom: 0; 
  left: 0;
  transition: width 0.5s, transform 0.5s;
  transform-origin: left;
}

.nav-menu .nav-item:hover a::before {
  width: 100%; 
  transform: translateX(0); 
}

.nav-menu a.active {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bolder;
  /* color: #7D9FC9; */
}


.menu-button {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
/* .hamburger
{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
} */
.para-content{
  margin: 0 12%;
}

@media(max-width:768px)
{
    .menu-button {
      display: block;
      font-size: 30px;
  }
    
    .nav-menu{
      display: none;
        position: fixed;
        /* position: absolute; */
        left: -100%;
        top: 100px;
        /* top: 0; */
        gap: 0;
        /* height: 100px; */
        flex-direction: column;
        background-color:#07031e;
        width: 100%;
        height: 50%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-item
    {
        margin: 16px 0;
    }

    .nav-menu.active
    {
      display: flex;
      /* position: fixed; */
        left: 0;
        z-index: 2; 
    }

    /* .cards-below-menu {
      position: relative;
      z-index: 0;
  } */

}

#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: background 10s infinite;
  object-fit: cover; /* Add this line to ensure the background image covers the entire container */
}

.main_div {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: 0.5s;
  background-color: hsla(0, 0%, 100%, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 5vw;
  max-width: 90vw;
}

.scroll_container {
  max-height: 400px;
  overflow-y: auto;
}

.scroll_container::-webkit-scrollbar{
  width: 0.5vw;
}

.scroll_container::-webkit-scrollbar-thumb{
  background-color: #131a39;
  background-color: aqua;
  border-radius: 100vw;
}

.scroll_container::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 100vw;
  margin-block: .5em;
}

.location-date,
.team-fees {
  display: flex;
  margin-top: 3%;
}

.location-date .location,
.location-date .date,
.team-fees .team,
.team-fees .fees {
  padding-left: 30px;
}

.image_event {
  max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
}

.float-container {
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  padding: 18px;
  width: 85%;
}

.float-child {
  width: 50%;
  padding: 20px;
}

@media (max-width: 768px) {
  .float-container {
    flex-direction: column;
    height: auto;
    padding: 18px;
    margin: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
  }

  .float-child {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
}


/* BUTTON */

.register{
  font-size: 20px;
  /* color: white; */
}
  
 .register-button {
    position: relative;
    /* background: #07031e; */
    background: hsla(0,0%,100%,.1);

    color: white;
    text-decoration: none;
    font-size: 0.5em; 
    letter-spacing: 0.1em;
    padding: 10px 20px;
    transition: 0.5s;
    /* border-radius: 30px;  */
    margin-top: 50px;
  }
  
  .register-button:hover {
    letter-spacing: 0.1em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    border-radius: 30px; 
  }
  
  .register-button::before {
    content: ' ';
    position: absolute;
    inset: 2px;
    background: #07031e;
    border-radius: 30px;

  }
  
  .register-button span {
    position: relative;
    z-index: 1;
  }
  
  .register-button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .register-button i::before,
  .register-button i::after {
    content: '';
    position: absolute;
    /* top: -3.5px; */
    width: 20px;
    height: 15px;
    background: transparent;
    /* border-radius: 50%; */
    transition: 0.5s;
    border: 2px solid whitesmoke;
  }
  
  .register-button i::before {
    top: -7.5px;
    left: 80%;
    transform: translate(-50%);

  }
  
  .register-button:hover i::before {
    width: 30px;
    left: 20%;
  }
  
  .register-button i::after {
    bottom: -7.5px;
    left: 20%;
    transform: translate(-50%);
  }
  
  .register-button:hover i::after {
    width: 30px;
    left: 80%;
  }
.arrow
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid#06A8FF;
  border-right: 5px solid#06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2)
{
  animation-delay: -.2s;
}

.arrow span:nth-child(3)
{
  animation-delay: -.2s;
}

@keyframes scroll{
  0%
  {
      opacity: 1;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%
  {
      opacity: 1;
  }
  100%
  {
      opacity: 1;
      transform: rotate(45deg) translate(20px,20px);
  }
}
